<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946466800171-4anlk01bjmpc9hp63k2hog372n87953c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946466800171-4anlk01bjmpc9hp63k2hog372n87953c</string>
	<key>API_KEY</key>
	<string>AIzaSyAZNpNRi4ssAoEOXJ6oXnp0BX33CaM9qqs</string>
	<key>GCM_SENDER_ID</key>
	<string>946466800171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edwin.Prory</string>
	<key>PROJECT_ID</key>
	<string>prory-1d182</string>
	<key>STORAGE_BUCKET</key>
	<string>prory-1d182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946466800171:ios:12ac19111d1c0bb3d3606e</string>
	<key>DATABASE_URL</key>
	<string>https://prory-1d182.firebaseio.com</string>
</dict>
</plist>